.container {
   width: 7rem;
   height: 4rem;

   width: 100%;

   font-size: 2rem;
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      Oxygen;
}
